@media all and (max-width: 828px) {  

 .header-list li{
 display:none;  
}    
  
#nav-drawer{
 display:block;  
float:right;
visibility:visible;
   }

#nav-content{
display:block;
   }

.top-content p{
 top:20%;
 }  
   
}
