@media all and (max-width: 828px) {  
   
#nav-drawer{
float:right;
visibility:visible;
   }

#nav-content{
visibility:visible;
   }
   
.header-list{
 display:none;  
}
   
.top-content p{
 top:20%;
 }  
   
}
