@media all and (max-width: 828px) {
   
.header-list{
 display:none;
}

 #nav-drawer {
  visibility:visible;
}

 #nav-content{
 visibility:visible;
}
 
   
.top-content p{
 top:30%;
}  

.fa-bars{
  visibility:visible;
}
