.header{
  color:white;
  height:65px;
  width:100%;
  background-color: rgba(34, 49, 52, 0.9);
  top: 0;
  position:fixed;
  z-index: 10;
}

.header-logo{
  float: left;
}

.header-list li{
  list-style: none;
  float: right;
  padding: 0 25px;
}

.top-content img{
  position: relative;
  background-color: rgba(0,0,0,.7);
}

.top-content p{
  position: absolute;
  top: 50px;
  left: 0px;
  color:white;
}
