body{
  width:80%;
  margin: 0 auto;
  padding: 0;
  font-family:sans-serif;
  font-size:18px;
　
}
h1,h2,h3{
border-bottom:2px solid #ccc;
font-size:24px;
}


.header{
  color:white;
  width:77.65%;
  height:65px;
  background-color: rgba(34, 49, 52, 0.9);
  top: 0;
  position:fixed;
  z-index: 10;
  padding:20px;
}
.menu-icon{
  color: white;
  display: none;
  font-size:25px;
  float:right ;
}

.header-logo{
  float: left;
}

.header-list li{
  list-style: none;
  float: right;
  font-size:20px;
  padding-left:20px;
  
}

.top-content{
 padding-top:105px;
}

.top-content img{
  
  position: relative;
}

.top-content p{
  text-align:center;
  color:white;
  font-size: 20px;
  position: absolute;
  top: 45%;
  padding:20px 20px 20px 80px;
  width: 70%;
}

.top-sector img{
  float:left;
}

.tag-item a{
  padding-left:5px;
  border: 1px #bec2cc solid; 
  }

.tag-item a:hover{
  background-color:#00800d57;
  opacity:0.5;
}
