body{
  width:80%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  align:center;
}

.header{
  color:white;
  height:65px;
  background-color: rgba(34, 49, 52, 0.9);
  top: 0;
  position:fixed;
  z-index: 10;
  padding:20px;
}
.menu-icon{
  color: white;
  display: none;
  font-size:25px;
  float:right ;
}

.header-logo{
  float: left;
}

.header-list li{
  list-style: none;
  float: right;
  font-size:20px;
  padding-left:20px;
  
}

.top-content{
  text-align: center;
 padding-top:105px;
}

.top-content img{
  
  position: relative;
}

.top-content p{
  position: absolute;
  top: 50px;
  left: 0px;
  color:white;
}
